<div  class="container">
    <div class="page-title text-center">Government Registeration</div>
    <hr/>
    <form action="/register/government" method="post">
        <div class="form-group">
            <label for="userid">Identification Number <span class="required-input">*</span> </label>
            <input type="number" id="userid" name="userid" class="form-control" placeholder="Identification Number" autofocus>
        </div>
        <div class="form-group">
            <label for="email">Email Address <span class="required-input">*</span> </label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group">
            <label for="designation">Designation <span class="required-input">*</span> </label>
            <input type="text" id="designation" name="designation" class="form-control" placeholder="Designation" autofocus>
        </div>
        <label for="Area">Representing Area <span class="required-input">*</span> </label>
        <div class="form-row">
            <div class="form-group col-md-7">
                <input type="text" id="area" name="area" class="form-control" placeholder="Area">
            </div>
            <div class="form-group col-md-5">
                <input type="number" id="pincode" name="pincode" class="form-control" placeholder="Pincode">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <select id="state" name="state" class="form-control" onchange="fillCities();">
                    <option selected value="default">Choose State..</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <select id="city" name="city" class="form-control" disabled>
                    <option selected value="default">Choose City..</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="superior">Identification Number Of Superior <span class="required-input">*</span> </label>
            <input type="number" id="superior" name="superior" class="form-control" placeholder="Identification Number Of Superior" autofocus>
        </div>
        <div class="form-group">
            <label for="password1">Password <span class="required-input">*</span> </label>
            <input type="password" name="password1" class="form-control" id="password1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password <span class="required-input">*</span> </label>
            <input type="password" name="password2" class="form-control" id="password2" placeholder="Confirm Password">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-primary" onclick="return validate();" >Submit</button>
            <button type="reset" class="btn btn-outline-danger">Reset</button>
        </div>
    </form>
</div>

<script src="/js/states-cities-list.js"></script>
<script src="/js/states-cities.js"></script>
<script src="/js/validate.js"></script>

<!-- Custom Page Title -->
<script type="text/javascript">
    document.title = "Government Registration";
</script>