<div  class="col-lg-4 col-md-4 col-sm-8 container">
    <div class="page-title text-center">Register</div>
    <hr>
    <div class="text-center">
        Public User Registration allows you to be a member of kural.
    </div>
    <br>
    <div class="text-center">
        <a href="/register/public" class="btn btn-info">Public</a>
    </div>
    <hr>
    <div class="text-center">
        Are you a MP/MLA/Local Body Authority?
    </div>
    <br>
    <div class="text-center">
        <a href="/register/government" class="btn btn-warning">Government</a>
    </div>
</div>