<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" href="/">Kural - குரல்</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav ml-auto">
      {{#each navLinks}}
        <a class="nav-item nav-link {{#if this.[current]}} active {{/if}}" href="/{{this.[url]}}">
          {{@key}}
        </a>
      {{/each}}
    </div>
  </div>
</nav>
