<div  class="col-lg-4 col-md-4 col-sm-8 container">
    <div class="page-title text-center">Login</div>
    <hr/>
    <form action="" method="post">
        <div class="form-group">
            <label for="userid">Identification Number <span class="required-input">*</span> </label>
            <input type="number" id="userid" name="userid" class="form-control" placeholder="Identification Number" autofocus>
        </div>
        <div class="form-group">
            <label for="password">Password <span class="required-input">*</span> </label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        {{#if invalidAuthenticate}}
            <div class="form-group alert alert-danger" id="invalidAuthenticate">
                {{errMsg}}
            </div>
        {{/if}}
        <div class="form-group">
            <div class="form-row">
                <a href="#" id="forgotPassword" class="link">Forgot Password?</a>
            </div>
            <div class="form-row">
                <a href="/register" id="newToKural" class="link">New to kural? Register</a>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-primary" onclick="return validate();">Submit</button>
        </div>
    </form>
</div>
<script src="/js/validate.js"></script>