<div class="main-container">
	<div class="post-container" id="postContainer">
		<form action="/post" method="post">
			<div class="form-group">
				<label for="newPost">Raise a new issue-</label>
				<textarea class="form-control col-md-10" id="newPost" rows="3" name="postContent" placeholder="Describe your issue here in less than 200 words"></textarea>
			</div>
			<div class="form-group text-center">
            	<button type="submit" class="btn btn-primary" onclick="return validate();">Submit</button>
        	</div>
		</form>
		<hr>
		{{#each posts}}
			<div class="post">
				{{this.content}}
			</div>
		{{/each}}
	</div>
	<div class="left sidebar">
		<h4 style="color:#ffffff">INFO BAR</h4>
		<a href="/compRaised">Complaints Raised</a>
		<a href="/compResolved">Complaints Resolved</a>
		<a href="/compStatus">Complaint Status</a>
	</div>
</div>
<script>
	function validate() {
		const textarea = $('#newPost');
		const content = textarea.val();

		if(content == '') {
			textarea.addClass('is-invalid');
			return false;
		}
		else {
			textarea.removeClass('is-invalid');
			return true;
		}
	}
</script>