<div class="jumbotron fluid-jumbotron col-md-7">
  <h4 class="display-4">Hello, there!</h4>
  <hr class="my-4">
  

  <a class="btn btn-primary btn-lg" href="#" role="button">Edit Details</a>
</div>

<style type="text/css">
    .jumbotron {
        margin: 3em auto;
        background-color: var(--blendColor);
        padding: 20px;
    }
</style>