.main-container {
	display: grid;
	grid-template-columns: 15% auto 15%;
	grid-template-areas:
		"sidebar-left center sidebar-right"
}
.sidebar {
	background: #001f3f;
	color: white;
	height: calc(100vh - 3em);
	padding: 5px;
}
.left {
	grid-area: sidebar-left;
}
.right {
	grid-area: sidebar-right;
}
.post-container {
	/* padding: 10px; */
}
.post {
	padding: 10px;
	background: rgba(80, 80, 255, .7);
}