input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body {
    background: url("../img/3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center
}
.container {
	margin-top: 3em;
	background-color: rgba(224, 224, 224, 0.9);
	padding: 10px 20px;
	border-radius: 2%;
}
.page-title {
	font-size: 1.4em;
	font-weight: 400;
}
hr {
	margin: 0.5em 0;
}
.navbar {
	height: 7vh;
}